### Intellij IDEA ###
**.idea/**
.idea/
.idea/artifacts
.idea/libraries
.idea/compiler.xml
.idea/modules.xml
*.iml
*.iws

### Maven ###
log/
target/

### Java ###
*.class
*.jar
*.war
*.ear

### Other Files ###
*.log
*.rar
*.zip
*.tar.gz

### Go ###
.idea
build/
*.exe

### EXAMPLES ###
## .apt_generated
## .classpath
## .idea
## *.iml
## *.xml
## logs/user.log/**
